<!-- You can now use your library component in app.component.html -->
<div style="background:grey;height:30px;">

  <ng2-wi [name]="'windy'"></ng2-wi>

  <ng2-wi [name]="900"></ng2-wi>
</div>

<!-- rendered -->
<!-- <ng2-wi>
  <i class="wi wi-windy"></i>
</ng2-wi> -->

<div style="background:grey;height:30px;">

  <ng2-wi [name]="'celsius'"></ng2-wi>
</div>

<div style="background:grey;height:30px;">
  <ng2-wi [name]="'windy'" [mode]="'day'"></ng2-wi>
</div>

<!-- rendered -->
<!-- <ng2-wi>
  <i class="wi wi-day-windy"></i>
</ng2-wi> -->
<div style="background:grey;height:30px;">
  <ng2-wi [name]="'cloudy'" [mode]="'night'"></ng2-wi>
</div>

<!-- rendered -->
<!-- <ng2-wi>
  <i class="wi wi-night-windy"></i>
</ng2-wi> -->

<div style="background:grey;height:30px;">
  <ng2-wi [name]="'windy'" [size]="'1'"></ng2-wi>
</div>

<!-- rendered -->
<!-- <ng2-wi>
  <i class="wi wi-windy" style="font-size: 20px"></i>
</ng2-wi> -->

<div style="background:grey;padding: 5px 3px;">
  <ng2-wi [name]="'windy'" [size]="'2'"></ng2-wi>
</div>

<!-- rendered -->
<!-- <ng2-wi>
  <i class="wi wi-windy" style="font-size: 40px"></i>
</ng2-wi> -->

<div style="background:grey;padding: 5px 3px;">
  <ng2-wi [name]="'windy'" [size]="'3'"></ng2-wi>
</div>

<div style="background:grey;padding: 5px 3px;">
  <ng2-wi [name]="'windy'" [size]="'4'"></ng2-wi>
</div>

<div style="background:grey;padding: 5px 3px;">
  <ng2-wi [name]="'windy'" [size]="'5'"></ng2-wi>
  <ng2-wi [name]="900" [size]="5"></ng2-wi>
</div>
